@model GoodPatient.Application.GoodPatientEarnings.GoodPatientEarningsDto

@{
    ViewData["Title"] = "szczegóły usułgi " + @Model.Name;
}


<h1 class="mt-4 text-5xl font-extrabold leading-none tracking-tight text-gray-900">Szczegóły dochodu <span class="underline underline-offset-3 decoration-8 decoration-red-400">@Model.Name</span></h1>
<p class="text-lg font-normal text-gray-500 lg:text-xl mt-4">Informacje o pacjencie.</p>

<div class="container-xl px-4">
    <div class="row text-center">
        <div class="mb-20">
            <!-- Account details card-->
            <div class="row">
                <div class="form-group col-md-6 mb-3 mt-3 text-start">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Nazwa usługi</label>
                    <input type="text" value="@Model.Name" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                </div>
                <div class="form-group col-md-6 mb-3 mt-3 text-start">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Kwota dochodu:</label>
                    <input type="text" value="@Model.Amount" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                </div>
                <div class="form-group col-md-6 mb-3 mt-3 text-start">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Imię i nazwisko pacjenta:</label>
                    <input type="text" value="@Model.PatientName" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                </div>
                <div class="form-group col-md-6 mb-3 mt-3 text-start">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Data wizyty:</label>
                    <input type="text" value="@Model.DateOfVisit" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                </div>
                <div class="form-group col-md-6 mb-3 mt-3 text-start">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Opis wizyty:</label>
                    <input type="text" value="@Model.VisitDescription" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                </div>
                <div class="form-group col-md-6 mb-3 mt-3 text-start">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Metoda płatności:</label>
                    <input type="text" value="@Model.PaymentMethod" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                </div>
                <div class="form-group col-md-6 mb-3 mt-3 text-start">
                    <label class="block mb-2 text-sm font-medium text-gray-900">Dodatkowe uwagi:</label>
                    <input type="text" value="@Model.AdditionalNotes" readonly class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                </div>
            </div>
            <div class="flex">
                @if (Model.IsEditable)
                {
                    <a asp-controller="GoodPatient" asp-action="EditEarnings" asp-route-encodedName="@Model.EncodedName" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2.5 text-center">Edytuj pacjenta</a>
                }
                <a asp-action="Earnings" class="mt-4 ml-4 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2.5 text-center">Wróć do listy</a>
            </div>
        </div>
    </div>
</div>
